*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: inter;
}

a{
    text-decoration: none;
    color:white;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


div#lo {
    background-color: black;
    color: white;
}


.container input{
    border: none;
    margin: 20px;
    background-color: black;
    border-bottom: 1px solid gray;
    color: white;
    width: 90%;
    padding: 8px;
    font-family: inter;


}

input:focus{
    outline: none;
}

.container,.profile-container{
    margin:  5% 15%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap:5px;
}

#msg{

    align-self: flex-start;
    color: green;
}
#signupBtn, #logoutBtn{
    width: 90px;
    background-color: white;
    color: black;
    padding: 15px 20px;
    border: none;
}

.signup-heading{
    align-self: flex-start;
    font-size: 36px;
}

.profile-heading{
    font-size: 36px;
}
